@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile: ~"only screen and (max-width: 768px)";
@tablet: ~"only screen and (min-width: 767px) and (max-width: 991px)";
@desktop: ~"only screen and (min-width: 992px) and (max-width: 1024px)";
@desktop-xl: ~"only screen and (min-width: 1129px)";
@media @tablet {
    body {
        overflow: scroll;
    }
    //navigation
    .menus {
        ul {
            li {
                a {
                    padding: 10px 0px;
                    font-size: 14px;
                }
            }
        }
    }
    // footer 
    .footers {
        p {
            font-size: 12px;
        }
    }
    //aboutus-page
    .aboutus {
        height: 423px;
        .abt-info {
            .abt {
                h2 {
                    font-size: 33px;
                }
                p {
                    height: 300px;
                    font-size: 16px;
                }
            }
        }
        .dish {
            img {
                height: 400px;
                padding-top: 23px;
            }
        }
    }
    //product page
    .products {
        margin: 0;
    }
    .product-list {
        min-height: 437px;
        h2 {
            font-size: 13px;
        }
        ul {
            li {
                padding: 11px;
                a {
                    padding: 11px 0;
                    font-size: 12px;
                }
            }
        }
    }
    .img-descp {
        h3 {
            font-size: 12px !important;
        }
        span {
            font-size: 12px !important;
        }
    }
    //media page
    .videos {
        .info-media {
            p {
                left: 12%;
                font-size: 10px;
            }
        }
        .main-video {
            iframe {
                min-height: 250px;
            }
        }
    }
    //contact-page
    .cont-feed {
        .cont-florals {
            img {
                width: 100%;
                margin-left: 0;
                margin-bottom: 5%;
            }
            p {
                font-size: 12px;
                top: 25%;
                left: 49%;
            }
        }
        .contact {
            address {
                margin-bottom: 6px;
                span {
                    font-size: 13px;
                }
                span:nth-child(1) {
                    font-size: 15px;
                    margin-bottom: 3%;
                }
                span:nth-child(5) {
                    margin-bottom: 1%;
                }
            }
            span.enquiry {
                font-size: 13px;
            }
        }
        .map {
            margin-top: 5%;
        }
    }
    //feedback page
    .feed {
        .head-floral {
            p {
                top: 15%;
                font-size: 10.5px;
            }
        }
        form.form-horizontal {
            label.control-label {
                margin-bottom: 6px;
                margin-left: 6px;
                font-size: 13px;
            }
            input {
                margin-left: 5px;
            }
        }
    }
}

//mobile
@media @mobile {
    body {
        overflow: scroll;
        zoom: 1 !important;
    }
    .navbar-inverse .navbar-toggle {
        border: 1px solid #fff;
        .icon-bar {
            background-color: #fff;
        }
    }
    .menus ul li a {
        font-size: 11px;
    }
    .collapse.navbar-collapse {
        margin-top: 50px;
    }
    //    footers
    .footers {
        p {
            font-size: 9px;
        }
    }
    //    about page
    .aboutus {
        height: auto;
        .abt-info {
            .abt {
                h2 {
                    font-size: 28px;
                }
                p {
                    height: 300px;
                    font-size: 13px;
                }
            }
        }
        .dish {
            img {
                height: auto;
                padding-top: 25px;
                padding-right: 0;
                margin-left: 0;
            }
        }
    }
    .cont-feed {
        .cont-florals {
            margin-bottom: 10%;
            p {
                width: 25%;
                font-size: 9px;
                text-align: center;
            }
        }
        .contact {
            margin: 3%;
            address {
                margin-bottom: 3px;
                span {
                    font-size: 12px;
                }
                span:nth-child(1) {
                    margin-bottom: 2%;
                    font-size: 12px;
                }
            }
            span.enquiry {
                font-size: 12px;
            }
        }
    }
    //product-page
    .poduct-page {
        h2 {
            padding: 18px 10px;
            font-size: 11px;
        }
        ul {
            li {
                padding: 8px;
                font-size: 9px;
            }
        }
    }
    //media-page 
    .videos {
        .info-media {
            margin-bottom: 50px;
            p {
                width: 78%;
                top: 0;
                text-align: center;
            }
        }
        .main-video {
            iframe {
                min-height: 150px;
            }
        }
    }
    //feedback page
    .feed {
        .head-floral {
            margin-bottom: 45px;
            p {
                width: 43%;
                font-size: 9px;
                text-align: center;
            }
        }
        .form-horizontal {
            label {
             font-size: 13px;   
            }
            .last-button {
                padding-right: 11px;
                button.submit {
                    width: 117px;
                    font-size: 9px;
                }
            }
        }
    }
}