@import "../bower_components/lesshat/build/lesshat.less";
 body {
    padding-top: 70px;
}
img.loading {
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    position: absolute;
    top: 0px;
    opacity: 1;
    left: 50%;
    .translateX(-50%);
    width: 100px;
    height: 100px;
}
img {
    opacity: 0;
    .transition(all 1s ease);
}
img.doneLoading {
    opacity: 1;
}