@import "../bower_components/lesshat/build/lesshat.less";
//header
.header {
    background: url('header_texture.jpg');
    img {
        width: 100%;
    }
}

//footer
footer {
    border-top: 1px solid #000;
    padding: 1% 0;
    background-color: rgba(255, 255, 255, .7);
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 5px;
}

//Menu
.menus {
    background: black;
    div {
        .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
            color: #fff;
            background-color: #000;
        }
        .nav>li>a:hover {
            text-decoration: none;
            background-color: #000;
        }
    }
}

//Products
.products {
    .container {
        .prod {
            .prodarray {
                img {
                    width: 100%;
                }
            }
        }
    }
}

//feedback page
.feed {
    background: url('../img/feedback_bg.jpg') no-repeat;
    background-size: 100% 100%;
}