@import "../bower_components/lesshat/build/lesshat.less";
@fonts: #f58d65;
@menubg: #231f20;
@menuselect: #f2663a;
@sidemenu: #d2ac67;
@productrange: #f8f2e6;
@active: #231f20;
//header
.header {
    background: url('../img/header_texture.jpg');
    img {
        width: 100%;
    }
}

//Menu
.menus {
    background: black;
    div {
        .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
            color: #fff;
            background-color: #000;
        }
        ul.nav.nav-pills.nav-justified {
            padding-left: 13%;
            padding-right: 13%;
        }
        .nav>li>a:hover {
            text-decoration: none;
            background-color: #000;
        }
    }
}

//Products
.products {
    .container {
        .prod {
            .prodarray {
                img {
                    width: 100%;
                }
            }
        }
    }
}

//About Us
.aboutus {
    background: url('../img/aboutbg.jpg') no-repeat;
    background-size: 100%;
    h2 {
        color: @fonts;
    }
}

//Footer
footer {
    border-top: 1px solid #000;
    padding: 1% 0;
    background-color: rgba(255, 255, 255, .7);
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 5px;
}