<div class="container">
    <div class="get-in-touch">
        <img src="" alt="" class="img-responsive">
        <span class="text-uppercase">get in touch with us at</span>
    </div>
    <div class="row">
        <div class="col-md-4">
            <address>
                <span>Address:</span>
                <span>liberty foods (leicester) ltd</span>
                <span>190C tithe street,</span>
                <span>leicester,</span>
                <span>LE5 4BN</span>
                <span>phone no: <a href="tel:01162766863">0116 276 6863</a></span>
                <span>email id: <a href="mailto:contact@armaanfrozenfoods.com">contact@armaanfrozenfoods.com</a></span>
            </address>
            <span>for enquiry,click <a href="#">here</a></span>
        </div>
        <div class="col-md-8">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9684.390419131774!2d-1.0930842!3d52.6401496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc55d10ed5f31546b!2sLiberty+Foods!5e0!3m2!1sen!2sin!4v1438768626850" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>