<div class="container">
    <div class="row">
        <div class="col-md-9 feed">
            <div class="head-floral">
                <img src="img/feedback-head.png" alt="floral" class="img-responsive feedhead">
                <p class="text-uppercase">we would love to recieve your feedback</p>
            </div>
            <div class="row formdata">
                <div class="col-md-offset-1 col-md-9 ">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-md-2 control-label"> <span>*</span>Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-2 control-label"><span>*</span>Email</label>
                            <div class="col-md-10">
                                <input type="email" class="form-control" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="feedback" class="control-label col-md-2"><span>*</span>Feedback</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="feedback" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="control-label col-md-2">Phone</label>
                            <div class="col-md-10">
                                <input type="number" class="form-control" id="phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address1" class="control-label col-md-2">Address1</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="address1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address2" class="control-label col-md-2">Address2</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="address2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city" class="control-label col-md-2">City</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="city">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country" class="control-label col-md-2">Country</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="country">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="postcode" class="control-label col-md-2">Postcode</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="postcode">
                            </div>
                        </div>
                        <div class="form-group lastgroup">
                            <label for="code" class="control-label col-md-4">Enter the code shown</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6 input1">
                                        <input type="text" class="form-control col-md-6" id="code">
                                    </div>
                                    <div class="col-md-6 input2">
                                        <input type="text" class="form-control col-md-6" id="code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default submit pull-right text-uppercase">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>