<div class="feedback">
    <div class="container">
        <div class="row align">
            <div class="col-md-offset-1 col-md-10">
                <div class="feed">
                    <div class="head-floral">
                        <img src="img/feedback-head.png" alt="feedback head" class="img-responsive">
                        <p>we would love to receive your feedback</p>
                    </div>
                    <div class="row">
                        <div class=" col-md-offset-2 col-md-8">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="name" class="col-md-2 control-label"><span>*</span>name</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-md-2 control-label"><span>*</span>email</label>
                                    <div class="col-md-10">
                                        <input type="email" class="form-control" id="email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="feedback" class="col-md-2 control-label"><span>*</span>feedback</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="feedback" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="col-md-2 control-label">phone</label>
                                    <div class="col-md-10">
                                        <input type="number" class="form-control" id="inputEmail3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="add1" class="col-md-2 control-label">address1</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="add1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="add2" class="col-md-2 control-label">address2</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="add2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="city" class="col-md-2 control-label">city</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="city">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="country" class="col-md-2 control-label">country</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="country">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="postcode" class="col-md-2 control-label">postcode</label>
                                    <div class="col-md-10">
                                        <input type="number" class="form-control" id="postcode">
                                    </div>
                                </div>
                                <div class="form-group lastgroup">
                                    <label for="code" class="col-md-4 control-label">Enter the code shown </label>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-6 input1">
                                                <input type="text" id="code" class="form-control">
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 input2">
                                                <input type="text" id="code" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-offset-8 col-md-4 last-button pull-right">
                                        <button type="submit" class="btn btn-default submit">SUBMIT</button>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>