<div class="media">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="videos">
                    <div class="info-media">
                        <img src="img/media.png" alt="" class="img-responsive">
                        <p>please have a look through our selection of videos,radio material and product brochure</p>
                    </div>
                    <div class="main-video">
                        <iframe src="https://www.youtube.com/embed/gGJfbcDNI0A" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-holder">
                                    <img src="img/slider/1.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="img-holder">
                                    <img src="img/slider/2.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="img-holder">
                                    <img src="img/slider/3.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>