 <div class="products align">
        <div class="container">
            <div class="row">
                <div class="col-xs-11">
                    <div class="row prod">
                        <div class="col-xs-3">
                            <div class="product-list">
                                <h2>product range</h2>
                                <ul class="list">
                                    <li><a href="#" title="Bread">Bread</a></li>
                                    <li><a href="#" title="Snacks - Vegetarian">Snacks - Vegetarian</a></li>
                                    <li><a href="#" title="Snacks - Non Vegetarian">Snacks - Non Vegetarian</a></li>
                                    <li><a href="#" title="Herbs and Spices">Herbs and Spices</a></li>
                                    <li><a href="#" title="Non Vegetarian">Non Vegetarian</a></li>
                                    <li><a href="#" title="Fish">Fish</a></li>
                                    <li><a href="#" title="Pastry">Pastry</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="product-info">
                                        <div class="img-holder">
                                            <img src="img/product.jpg" alt="paratha" class="img-responsive prd-info" />
                                        </div>
                                        <div class="img-descp">
                                            <h3>APP5 Plain Paratha</h3>
                                            <span>(5 pieces)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <p class="text-center prd-info-descp">Our irresistible Original Paratha is a soft dough based bread used as a compliment to South Asian dishes, this popular product tastes great as a morning snack or as an afternoon bite. Using only the best ingredients our Paratha is Trans Fat Free and contains No Artificial preservatives or flavours.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>